@import '../../spacing.scss';
@import '../../radius.scss';
@import '../../color.scss';
@import '../../fontSize.scss';
@import '../../screen.scss';

.content {
    margin-inline: $margin-xl-3;
    flex-grow: 1;
    min-height: calc(100vh - ($margin-xl-3 + $margin-xl-3));
    height: min-content;
    margin-top: $margin-xl-3;
    overflow-x: hidden;
    margin-left: calc(300px + ($margin-xl-3 * 2));

    .header {
        margin-bottom: $margin-xl-3;

        & > .row {
            justify-content: space-between;
            align-items: center;
        }

        .text-greting {
            font-size: $font-size-lg;
            line-height: $line-height-lg;
            font-weight: 600;
            color: $color-light-black;
        }

        .text-name {
            color: $color-black;
            font-size: $font-size-xl-2;
            line-height: $line-height-xl-2;
            font-weight: 700;
            letter-spacing: .1rem;
        }

        .notification {
            background-color: white;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            .icon {
                width: 30px;
                height: 30px;
                color: $color-light-black;
                transform: rotate(-20deg);
            }

            .count {
                position: absolute;
                right: 8px;
                top: 5px;
                background-color: $color-orange;
                color: white;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: $font-size-xs;
                line-height: $line-height-xs;
                width: 16px;
                height: 16px;
                font-weight: 500;
                border: solid 2.5px white;
            }
        }
    }

    @media screen and (max-width: $screen-lg) {
        & {
            margin-left: calc(clamp(150px, 27vw, 300px) + ($margin-xl-3 * 2));
        }
    }

    @media screen and (max-width: $screen-sm) {
        & {
            margin-left: $margin-xl-3;
        }

        .header .text-name {
            letter-spacing: unset;
            font-size: $font-size-lg-2;
            line-height: $font-size-lg-2;
        }
    }
}    
