$color-blue: #0177F7;
$color-light-blue: #00C4FE;
$color-orange: #FD6E31;
$color-yellow: #FEC74B;
$color-light-yellow: #FFE86C;
$color-light-gray: #F6F7F9;
$color-gray: #B7C7DB;
$color-dark-gray: #8F9FB3;
$color-black: #020305;
$color-light-black: #354663;
$color-light-black-2: #515e76;
