$font-size-xs-2: 9px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-lg-2: 28px;
$font-size-xl: 20px;
$font-size-xl-2: 35px;
$font-size-xl-3: 42px;

$line-height-xs-2: 13px;
$line-height-xs: 16px;
$line-height-sm: 20px;
$line-height-md: 24px;
$line-height-lg: 28px;
$line-height-lg-2: 38px;
$line-height-xl: 28px;
$line-height-xl-2: 43px;
$line-height-xl-3: 50px;
