@import '../../spacing.scss';
@import '../../fontSize.scss';
@import '../../radius.scss';
@import '../../shadow.scss';
@import '../../fontFamily.scss';

.btn {
    min-width: 120px;
    background-color: white;
    border-radius: $round-sm;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    padding: $margin-xs;
    border: none;
    box-shadow: $shadow-sm;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $family-poppins;
    font-weight: 400;
}
