@import '../../radius.scss';
@import '../../spacing.scss';
@import '../../color.scss';
@import '../../fontSize.scss';
@import '../../shadow.scss';

.wrap-table-fish-price {
    background-color: white;
    border-radius: $round-xl-2;
    margin-bottom: $margin-xl-3;
    box-shadow: $shadow-lg;

    .header-table-fish-price {
        margin-inline: $margin-xl;
        margin-top: $margin-xl-2;
        justify-content: space-between;
        align-items: flex-end;

        .counting {
            align-items: center;

            h1 {
                font-size: $font-size-lg-2;
                line-height: $line-height-lg-2;
                margin-right: $margin-md;
            }

            div {
                font-size: $font-size-md;
                line-height: $font-size-md;
                background-color: $color-light-blue;
                color: white;
                padding-inline: $margin-sm;
                padding-top: $margin-sm;
                padding-bottom: $margin-sm;
                border-radius: $round-xl;
            }
        }

        .btn-add-data-fish {
            width: min-content;
            white-space: nowrap;
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            font-weight: 500;
            padding-inline: $margin-lg;
            padding-top: $margin-sm;
            padding-bottom: $margin-sm;
            color: $color-light-black;
            border-radius: $round-lg;
            color: white;
            background-color: $color-blue;
            margin-top: $margin-xl-3;
        
            .icon {
                width: 20px;
                height: 20px;
                margin-left: $margin-md;
            }
        }

        .search {
            border: solid 1px $color-gray;
            border-radius: $round-lg;
            padding: $margin-sm;
            padding-inline: $margin-md;
            width: 220px;

            .icon {
                width: 25px;
                height: 25px;
                margin-right: $margin-sm;
                color: $color-dark-gray;
            }

            input {
                border: none;
                outline: none;
                border-radius: $round-lg;
                font-size: $font-size-sm;
                line-height: $line-height-sm;
                color: $color-black;
            
                &::placeholder {
                    color: $color-dark-gray;
                }
            }
        }
    }

    .wrap-table-fish-price-overflow{
        overflow: auto;
        margin-inline: $margin-xl;
        margin-top: $margin-xl-2;
        margin-bottom: $margin-xl-2;
        border-radius: $round-xl;
        border: solid 1px $color-gray;
        min-height: 400px;
    }

    .table-fish-price {
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;

        thead th, tfoot th {
            text-align: start;
        }

        thead .wrap-th {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: $font-size-md;
            line-height: $line-height-md;
            color: $color-light-black;
            cursor: pointer;
        }

        thead th {
            background-color: $color-light-gray;
            padding-top: $margin-md;
            padding-bottom: $margin-md;
            padding-inline: $margin-sm;
            border-bottom: solid 1px $color-gray;

            &:first-child {
                padding-left: $margin-xl;
                border-top-left-radius: $round-xl;
            }

            &:last-child {
                padding-right: $margin-xl;
                border-top-right-radius: $round-xl;
            }
        }

        tbody {
            tr {
                td {
                    padding-top: $margin-xl;
                    padding-bottom: $margin-xl;
                    padding-inline: $margin-sm;
                    border-bottom: solid 1px $color-gray;
                    font-size: $font-size-sm;
                    line-height: $line-height-sm;
                    color: $color-black;
                    
                    &:first-child {
                        padding-left: $margin-xl;
                    }
        
                    &:last-child {
                        padding-right: $margin-xl;
                    }
                }
                
                .index {
                    color: $color-light-black;
                    font-weight: 700;
                    padding-right: $margin-xl;

                    div {
                        width: 25px;
                        height: 25px;
                        background-color: $color-light-yellow;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &:last-child td {
                    border-bottom: none;
                }
            }
        }
    }
}
