@import '../../radius.scss';
@import '../../spacing.scss';
@import '../../color.scss';
@import '../../fontSize.scss';
@import '../../shadow.scss';
@import '../../screen.scss';

.wrap-table-fish-price {
    background-color: white;
    border-radius: $round-xl-2;
    margin-bottom: $margin-xl-3;
    box-shadow: $shadow-lg;

    .header-table-fish-price {
        margin-inline: $margin-xl;
        margin-top: $margin-xl-2;

        .counting {
            align-items: center;

            h1 {
                font-size: $font-size-lg-2;
                line-height: $line-height-lg-2;
                margin-right: $margin-md;
            }

            div {
                font-size: $font-size-md;
                line-height: $font-size-md;
                background-color: $color-light-blue;
                color: white;
                border-radius: 100%;
                width: 35px;
                height: 35px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
            }
        }

        .row:has(> .btn-add-data-fish) {
            width: 100%;
            margin-top: $margin-xl-3;
            justify-content: space-between;
        }
        
        .btn-add-data-fish {
            width: min-content;
            white-space: nowrap;
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            font-weight: 500;
            padding-inline: $margin-lg;
            padding-top: 11px;
            padding-bottom: 11px;
            color: $color-light-black;
            border-radius: $round-lg;
            color: white;
            background-color: $color-blue;
            margin-right: $margin-md;
        
            .icon {
                width: 20px;
                height: 20px;
                margin-left: $margin-md;
            }
        }

        .search {
            border: solid 1px $color-gray;
            border-radius: $round-lg;
            padding: $margin-sm;
            padding-inline: $margin-md;
            width: 220px;

            .icon {
                width: 25px;
                height: 25px;
                margin-right: $margin-sm;
                color: $color-dark-gray;
            }

            input {
                border: none;
                outline: none;
                border-radius: $round-lg;
                font-size: $font-size-sm;
                line-height: $line-height-sm;
                color: $color-black;
                width: 100%;
            
                &::placeholder {
                    color: $color-dark-gray;
                }
            }
        }
    }

    .wrap-table-fish-price-overflow{
        overflow: auto;
        margin-inline: $margin-xl;
        margin-top: $margin-xl-2;
        margin-bottom: $margin-xl-2;
        border-radius: $round-xl;
        border: solid 1px $color-gray;
        min-height: 400px;
    }

    .table-fish-price {
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;

        thead th, tfoot th {
            text-align: start;
        }

        thead .wrap-th {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: $font-size-md;
            line-height: $line-height-md;
            color: $color-light-black;
            cursor: pointer;
        }

        thead th {
            background-color: $color-light-gray;
            padding-top: $margin-md;
            padding-bottom: $margin-md;
            padding-inline: $margin-sm;
            border-bottom: solid 1px $color-gray;

            &:first-child {
                padding-left: $margin-xl;
                border-top-left-radius: $round-xl;
            }

            &:last-child {
                padding-right: $margin-xl;
                border-top-right-radius: $round-xl;
            }
        }

        tbody {
            tr {
                td {
                    padding-top: $margin-xl;
                    padding-bottom: $margin-xl;
                    padding-inline: $margin-sm;
                    border-bottom: solid 1px $color-gray;
                    font-size: $font-size-sm;
                    line-height: $line-height-sm;
                    color: $color-black;
                    
                    &:first-child {
                        padding-left: $margin-xl;
                    }
        
                    &:last-child {
                        padding-right: $margin-xl;
                    }
                }
                
                .index {
                    color: $color-light-black;
                    font-weight: 700;
                    padding-right: $margin-xl;

                    div {
                        width: 25px;
                        height: 25px;
                        background-color: $color-light-yellow;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                &:last-child td {
                    border-bottom: none;
                }
            }
        }
    }

    .pagination {
        width: calc(100% - $margin-xl * 2);
        margin-bottom: $margin-xl-2;
        margin-inline: $margin-xl;
        
        .page {
            background-color: white;
            border: solid 1px $color-blue;
            width: 37px;
            height: 37px;
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            font-weight: 600;
            border-radius: $round-lg;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $color-black;
            transition: all .2s ease-in-out;
            
            &:hover, &.active {
                color: white;
                background-color: $color-blue;
            }

            &:not(:last-child) {
                margin-right: $margin-md;
            }
        }

        .previous, .next {
            background-color: white;
            border: solid 1px $color-blue;
            width: 37px;
            height: 37px;
            font-size: $font-size-sm;
            line-height: $line-height-sm;
            font-weight: 600;
            border-radius: $round-lg;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: $color-black;
            transition: all .2s ease-in-out;

            .icon {
                width: 20px;
                height: 20px;
            }

            &:hover, .active {
                color: white;
                background-color: $color-blue;
            }
        }

        .previous {
            margin-right: $margin-md;
        }

        .next {
            margin-left: $margin-md;
        }
    }

    @media screen and (max-width: $screen-lg) {
        .header-table-fish-price .btn-add-data-fish {
            .icon {
                margin-left: $margin-xs;
            }

            .extended-text {
                display: none;
            }
        }
    }

    @media screen and (max-width: $screen-md) {
        .header-table-fish-price .search {
            width: clamp(120px, 16vw, 150px);
        }
    }

    @media screen and (max-width: $screen-sm) {
        .pagination {
            margin-bottom: calc($margin-xl-5 + $margin-lg);
            justify-content: center;
        
            .page, .previous, .next {
                width: clamp(25px, 5vw, 35px);
                height: clamp(25px, 5vw, 35px);
                font-size: $font-size-xs;
                line-height: $line-height-xs;

                .icon {
                    width: clamp(20px, 3.5vw, 30px);
                    height: clamp(20px, 3.5vw, 30px);
                }
            }
        }
    }
}
